.loader {
  border: 16px solid #fff; /* Light grey */
  border-top: 16px solid var(--first-color); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container__loader {
  height: 450px;
  display: flex;
  align-items: center;
}
