@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

.light,
:root {
  /*========== Colors ==========*/
  --first-color: #093009;

  --text-color: #ffffff;

  --body-color: #369457;
}
.dark {
  --first-color: #369457;

  --text-color: #ffffff;

  --body-color: #093009;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
img {
  width: 100%;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.4em;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.main {
  margin: 3rem 0;
}
.main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.main__title {
  font-size: 2.5rem;
}
